body {
  font-family: 'Poppins', sans-serif;
  background-color: rgb(250, 250, 250);
}

img {
  position: relative;
  left: 16rem;
}

.container {
  margin: 4rem 5rem
}

.heading {
  text-align: center;
}

.reliable {
  font-weight: 200;
  font-size: 2rem;
  margin: 0;
}

.powered {
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
}

.highpoint {
  max-width: 40%;
  position: relative;
  left: 22rem;
  font-size: 14px;
  margin-top: 1.2rem;
}

.main-body {
  position: relative;
  margin-top: 4rem;
}

.card {
  max-width: 30%;
  height: 15.5rem;
  background-color: white;
  overflow: hidden;
  border-radius: 7px;
  box-shadow: 0 20px 20px 4px rgba(0, 0, 0, 0.05);
  position: absolute;
}

.Supervisor {
  top: 8.5rem;
  left: 2rem;
}

.Team-Builder {
  top: 0;
  right: 25.6rem;
}

.Karma {
  top: 17rem;
  right: 25.6rem;
}

.Calculator {
  top: 8.5rem;
  right: 2rem;
}

.color-banner {
  height: 0.25rem;
}

#cyan {
  background-color: hsl(180, 62%, 55%);
}

#red {
  background-color: hsl(0, 78%, 62%);
}

#orange {
  background-color: hsl(34, 97%, 64%);
}

#blue {
  background-color: hsl(212, 86%, 64%);
}

.text {
  margin: 2rem 2rem;
}

.first-text {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 0.5rem;
}

.second-text {
  font-size: 13px;
  margin-top: 0;
  line-height: 1.8;
}

footer {
  position: relative;
  top: 36rem;
}


@media (max-width: 1340px) {
  .container {
    margin: 0;
  }

  .heading {
    margin-top: 5.2rem;
  }

  .reliable {
    font-size: 1.5rem;
  }

.powered {
  font-size: 1.5rem;
}
.highpoint {
  left: 0.6rem;
    max-width: 94%;
    font-size: 15px;
}

.main-body {
  margin-top: 4.9rem;
}

.card {
  position: relative;
    max-width: 88%;
    top: 0;
    right: 0;
    left: 25px;
    height: 14rem;
    margin-bottom: 1.5rem;
}

.text {
    margin: 1.5rem 1.5rem;
}

.first-text {
    margin-bottom: 0.2rem;
  }

  .second-text {
    font-size: 13px;
  }

img {
  max-width: 19%;
    left: 13.6rem;
    top: 0.5rem;
}

footer {
  top: 0;
}
}
